@import '@/styles/variables';
@import '@/styles/reset.scss';
@import "@/styles/mixins";
@import "@/styles/utils";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}