:root {
   --font-inter: Inter, sans-serif;
   --font-base: var(--font-inter);
   --font-line-height-base: 1.4;
   --font-base-color: var(--black);

   --title-1-font-size-desktop: 40px;
   --title-1-font-weight-desktop: 500;
   --title-1-line-height-desktop: 56px;

   --title-1-font-size-mobile: 24px;
   --title-1-font-weight-mobile: 500;
   --title-1-line-height-mobile: 32px;


   --title-2-font-size-desktop: 24px;
   --title-2-font-weight-desktop: 400;
   --title-2-line-height-desktop: 32px;

   --title-2-font-size-mobile: 24px;
   --title-2-font-weight-mobile: 400;
   --title-2-line-height-mobile: 32px;

   --title-3-font-size-desktop: 20px;
   --title-3-font-weight-desktop: 500;
   --title-3-line-height-desktop: 28px;

   --title-3-font-size-mobile: 20px;
   --title-3-font-weight-mobile: 500;
   --title-3-line-height-mobile: 28px;

   --title-4-font-size-desktop: 20px;
   --title-4-font-weight-desktop: 400;
   --title-4-line-height-desktop: 28px;

   --title-4-font-size-mobile: 20px;
   --title-4-font-weight-mobile: 400;
   --title-4-line-height-mobile: 28px;

   --title-5-font-size-desktop: 18px;
   --title-5-font-weight-desktop: 400;
   --title-5-line-height-desktop: 24px;

   --title-5-font-size-mobile: 18px;
   --title-5-font-weight-mobile: 400;
   --title-5-line-height-mobile: 24px;

   --title-6-font-size-desktop: 16px;
   --title-6-font-weight-desktop: 500;
   --title-6-line-height-desktop: 22px;

   --title-6-font-size-mobile: 16px;
   --title-6-font-weight-mobile: 500;
   --title-6-line-height-mobile: 22px;

   --body-1-font-size-desktop: 16px;
   --body-1-font-weight-desktop: 400;
   --body-1-line-height-desktop: 22px;

   --body-1-font-size-mobile: 16px;
   --body-1-font-weight-mobile: 400;
   --body-1-line-height-mobile: 22px;


   --body-2-font-size-desktop: 14px;
   --body-2-font-weight-desktop: 400;
   --body-2-line-height-desktop: 20px;

   --body-2-font-size-mobile: 14px;
   --body-2-font-weight-mobile: 400;
   --body-2-line-height-mobile: 20px;

   --body-3-font-size-desktop: 12px;
   --body-3-font-weight-desktop: 400;
   --body-3-line-height-desktop: 16px;

   --body-3-font-size-mobile: 12px;
   --body-3-font-weight-mobile: 400;
   --body-3-line-height-mobile: 16px;
}
