:root {
  --z-fullscreen-slider: 16;
  --z-modal: 15;
  --z-drawer: 14;
  --z-preloader: 20;
  --z-chat-widget: 10;
  --z-header: 3;
  --z-header-visible: 4;
  --z-header-menu: 1;
  --z-menu-btn: 4;
  --z-videoslider-buttons: 2;
}